@import "../../../styles/variables";
.waiting-room {
  h1:first-child {
    text-decoration: underline;
  }
  h2 {
    margin-bottom: 5px;
  }
  .spinner {
    position: static;
    margin: 0 auto;
    margin-top: 10px;
  }
}
