@import "../../../styles/variables";
// @import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

.header {
  height: 50px;
  background-color: $color-coral;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 35px;
    width: 40px;
    cursor: pointer;
  }
  .btn {
    padding: 5px 10px;
  }
  h2 {
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .header {
    height: 60px;
    padding: 10px 20px;

    img {
      height: 50px;
      width: 55px;
    }
    h2 {
      font-size: 2rem;
    }
    .btn {
      padding: 8px 16px;
    }
  }
}
