.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

  .sign-in__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
  }

  a {
    text-decoration: underline;
  }
}
